body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

nav {
    width: 100%;
    padding: 10px 0;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.navbar img {
    width: 160px;
    height: 90px;
    opacity: 0;
    animation: slideRight 1s ease-in-out forwards;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burger span {
    font-size: 2rem;
    color: rgb(184, 138, 23);
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    gap: 50px;
    list-style-type: none;
    opacity: 0;
    animation: slideRight 1s ease-in-out forwards;
}

.menu-list li a {
    text-decoration: none;
    font-family: Ubuntu;
    color: black;
    display: inline-block;
    transition: all 0.3s ease;
    position: relative;
}

.menu-list li a:hover {
    color: #068c88;
    transform: translateY(-10px);
}

.lokasi {
    padding: 10px;
    border: 3px solid gold;
    border-radius: 100px;
    background-color: transparent;
    font-family: Ubuntu;
    font-weight: bold;
}

.lokasi a {
    text-decoration: none;
    color: gold;
}

.lokasi:hover {
    background-color: goldenrod;
    transform: scale(1.05);
    transition: all 0.2s ease;
    opacity: 0;
    animation: slideRight 1s ease-in-out forwards;
}

.lokasi:hover a {
    color: white;
}

.banner {
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: url(assets/img/kawah.jpg);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-text h1 {
    color: white;
    font-family: Montserrat;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    margin: 0;
    transform: translateY(30px);
    opacity: 0;
    animation: slideUp 1.5s ease-in-out forwards;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.desc {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 100px;
    line-height: 25px;
}

.desc h1 {
    color: black;
    font-family: Montserrat;
    font-size: 3rem;
    text-align: center;
    opacity: 0;
}

.desc h1.active {
    animation: slideDown 1.5s ease-in-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.desc-paragraf {
    margin-top: 50px;
}

.desc-paragraf p {
    font-family: Poppins;
    color: gray;
    font-size: 1.1rem;
    opacity: 0;
}

.desc-paragraf p.active {
    animation: slideRight 1.5s ease-in-out forwards;
}

.blue-lava {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 50px;
    border-radius: 30px;
    background: linear-gradient(180deg, #000000, #012e7b);
    margin: 100px;
    margin-top: 20px;
    opacity: 0;
}

.blue-lava.active {
    animation: slideUp 1s ease-in-out forwards;
}

.blue-lava h1 {
    font-family: Ubuntu;
    font-size: 3rem;
    color: white;
    text-shadow: 
        0 0 5px #005eff,
        0 0 15px #2f72f0,
        0 0 25px #038df6;
    opacity: 0;
}

.blue-lava h1.active {
    animation: slideDown 2s ease-in-out forwards;
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    gap: 45px;
}

.grid img {
    width: 720px;
    height: 360px;
    border-radius: 20px;
    opacity: 0;
}

.grid img.active {
    animation: slideLeft 1.5s ease-in-out forwards;
}

.grid p {
    font-size: 1.1rem;
    color: white;
    opacity: 0;
}

.grid p.active {
    animation: slideRight 1.5s ease-in-out forwards;
}

.harga {
    margin: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.harga h1 {
    font-family: Ubuntu;
    font-size: 3rem;
    color: black;
    opacity: 0;
}

.harga h1.active {
    animation: slideRight 1.5s ease-in-out forwards;
}

table {
    width: 100%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    opacity: 0;
}

table.active {
    animation: slideLeft 1.5s ease-in-out forwards;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #068c88;
    color: white;
    font-size: 1.1em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #d0ebff;
    transition: 0.3s;
}

.ide {
    margin: 100px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    opacity: 0;
}

.ide h1 {
    font-family: Ubuntu;
    font-size: 3rem;
    color: black;
    opacity: 0;
}

.ide h1 {
    animation: slideRight 1.5s ease-in-out forwards;
}

.ide ol li {
    color: grey;
    font-size: 1.1rem;
    line-height: 30px;
}

.ide.active {
    animation: slideRight 1.5s ease-in-out forwards;
}

.pesan-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.pesan-btn.active {
    animation: slideUp 1.5s ease-in-out forwards;
}

.pesan-btn button {
    border-radius: 100px;
    background-color: #068c88;
    border: none;
    width: 300px;
    height: 70px;
    font-family: Montserrat;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.pesan-btn button:hover {
    transform: scale(1.05);
}

.rekom {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px;
}

.rekom h2 {
    font-size: 2rem;
    font-family: Ubuntu;
    opacity: 0;
}

.rekom h2.active {
    animation: slideDown 1.5s ease-in-out forwards;
}

.line {
    width: 95%;
    height: 10px;
    background-color: #068c88;
    margin: 20px;
    border-radius: 100px;
    opacity: 0;
}

.line.active {
    animation: slideRight 1.5s ease-in-out forwards;
}

.main-card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.card {
    width: 300px;
    height: 340px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
}

.card.active {
    animation: slideRight 1.5s ease-in-out forwards;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}


.card img {
    width: 90%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.card h1 {
    font-size: 1.1rem;
}

.card a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: rgb(0, 97, 87);
    border-top: 10px solid rgb(198, 150, 28);
}

footer p {
    color: white;
    font-size: 1rem;
    opacity: 0;
}

footer p.active {
    animation: slideRight 1.5s ease-in-out forwards;
}

.medsos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.medsos a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    opacity: 0;
}

.medsos a.active {
    animation: slideUp 1.5s ease-in-out forwards;
}

/*Pesan Tiket*/

body.pesan {
    background-image: url('assets/img/blue-fire.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav.pesan {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

nav.pesan li a {
    color: white;
}

.form {
    width: 500px;
    margin: 50px auto;
    padding: 50px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    font-family: Poppins;
    margin-top: 150px;
    opacity: 0;
    animation: slideUp 1.5s ease-in-out forwards;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    opacity: 0;
}

.form h2.active {
    animation: slideDown 3s ease-in-out forwards;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    opacity: 0;
    animation: slideRight 3s ease-in-out forwards;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: white;
}

input::placeholder {
    color: whitesmoke;
}

textarea::placeholder {
    color: whitesmoke;
}

input[type="date"] {
    color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: teal;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: rgb(4, 100, 100);
}

/*Responsive Handphone*/

@media only screen and (max-width: 400px) {
    .navbar {
        justify-content: space-between;
        padding: 5px 10px;
        margin-left: 15px;
    }

    .menu-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        padding: 15px 0;
        border-radius: 0 0 10px 10px;
        text-align: center;
        z-index: 99;
        margin-top: 0;
        opacity: 0;
        animation: slideDown 1s ease-in-out forwards;
    }

    .menu-list li {
        width: 100%;
        border-radius: 100px;
        padding: 10px;
    }

    .menu-list.show {
        display: flex;
    }

    .navbar button {
        display: none;
    }

    .burger {
        display: flex;
        cursor: pointer;
        margin-left: auto;
    }

    .burger span:active {
        transform: rotate(360deg);
    }

    .burger span {
        font-size: 1.5rem;
        transition: transform 1s ease;
    }

    .logo img {
        width: 80px;
        height: 40px;
    }

    .banner-text {
        transform: translateY(50%);
    }

    .banner-text h1 {
        font-size: 2rem;
    }

    .banner {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url(assets/img/Kawah.jpg);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

    .desc {
        padding: 50px;
    }

    .desc h1 {
        font-size: 2rem;
        line-height: 50px;
    }

    .desc-paragraf p {
        font-size: 1rem;
    }

    .blue-lava {
        padding: 50px;
        margin: 20px;
    }

    .blue-lava h1 {
        font-size: 2rem;
    }

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .grid img {
        width: 240px;
        height: 144px;
    }

    .grid p {
        font-size: 1rem;
    }

    .harga {
        margin: 50px;
    }

    .harga h1 {
        font-size: 2rem;
        text-align: center;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        word-wrap: break-word;
        min-width: 400px;
        margin: 8px auto;
    }

    th, td {
        padding: 5px;
    }

    th {
        font-size: 0.5rem;
    }

    tr {
        font-size: 0.5rem;
    }

    .paket {
        overflow-x: auto;
    }

    .pesan-btn button {
        width: 150px;
        height: 60px;
        font-size: 0.8rem;
    }

    .ide {
        margin: 50px;
    }

    .ide h1 {
        font-size: 2rem;
        text-align: center;
    }

    .ide li {
        font-size: 1rem;
        text-align: justify;
    }

    .rekom {
        margin: 20px;
        padding: 20px;
    }

    .rekom h2 {
        font-size: 2rem;
    }

    .line {
        width: 90%;
        height: 10px;
    }

    .main-card {
        padding: 0 0;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }

    .card {
        width: 140px;
        height: 180px;
    }

    .card h1 {
        font-size: 0.8rem;
    }

    .form {
        width: 60%;
    }
}

/*Responsive Tablet*/

@media only screen and (max-width: 768px) and (min-width: 401px) {
    .menu-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        padding: 15px 0;
        border-radius: 0 0 10px 10px;
        text-align: center;
        z-index: 99;
        margin-top: 0;
        opacity: 0;
        animation: slideDown 1s ease-in-out forwards;
    }

    .menu-list li {
        width: 100%;
        border-radius: 100px;
        padding: 10px;
    }

    @keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

    .menu-list.show {
        display: flex;
    }

    .burger {
        display: flex;
        cursor: pointer;
        margin-left: auto;
    }

    .burger span {
        transition: transform 1s ease;
    }

    .burger span:active {
        transform: rotate(360deg);
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar button {
        display: none;
    }

    .banner-text {
        transform: translateY(30%);
    }

    .grid img {
        width: 240px;
        height:144px;
    }


    .grid p {
        font-size: 0.8rem;
    }

        .rekom {
        margin: 20px;
        padding: 20px;
    }

    .rekom h2 {
        font-size: 2rem;
    }

    .line {
        width: 90%;
        height: 10px;
    }

    .main-card {
        padding: 0 0;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }

    .card {
        width: 140px;
        height: 180px;
    }

    .card h1 {
        font-size: 0.8rem;
    }


}
